.slider {
  max-width: 400px;
  margin: 0 auto;
  z-index: 100;
}

.slider__input {
  width: 100%;
}

.slider__image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

#box {
  width: 50px;
  height: 50px;
  background-color: red;
  z-index: -1;
}